<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="about_me.css">
    <title>About me!</title>

    
</head>

<body>
    <div id="nav2">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
          <div class="container-fluid">
            <a class="navbar-brand " href="#">
                <img src="picture/logo.png" alt="logo" width="50px" height="50px" style="margin: 0px 20px 0px 0px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav ">
                <li class="nav-item" v-for="(link , index) in navLinks " :key ="index">
                   <a class="nav-link" :href="link.href" :class="{active: link.active}">
                    {{link.name}}
                   </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Portfolio</a>
                  <ul class="dropdown-menu">
                    <li v-for="(items,index) in PortfolioLinks" :key="index">
                      <a class="dropdown-item" :href="items.href">{{items.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

    <header class="text-center py-5">
        <h1>About Me</h1>
    </header>

    <section class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 text-center mb-4">
                <img src="picture/06.png" alt="Profile Photo" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                <h2>我是 李建勳</h2>
                <p>目前就學於國立台中科技大學多媒體設計系。</p>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <h3>我的經歷</h3>
                <p>製作過恐怖類型、投籃類型的遊戲。</p>
                <p>前端網頁切版、視覺效果調整。</p>
                <p>資料庫建立。</p>

                <h3>我的技能</h3>
                <ul>
                    <li>遊戲程式撰寫 (Unity)</li>
                    <li>前端網頁程式撰寫 (HTML, CSS, JS)</li>
                    <li>後端資料庫建立 (MySQL)</li>
                </ul>

                <h3>聯繫我</h3>
                <p>你可以聯繫我通過以下方式：</p>
                <div id="aboutmelink">
                    <div class="social-links">
                        <a v-for="(link,index) in socialLinks" :key="index" :href="link.href" target="_blank" class="btn btn-link">
                            {{ link.name }}
                        </a>
                    </div>
                </div>
                                                   <!--view-cm告訴開啟gmail視窗 fs=1全螢幕 to=指定人 -->
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=abc0979775465@gmail.com" 
                target="_blank" 
                class="cta-button btn btn-primary mt-3">發送郵件</a>
            </div>
        </div>
    </section>

    <script src="/js/homevue.js"></script>
    <script>
        // 使用 GSAP 動畫
        gsap.from(".navbar", { opacity: 0, duration: 1, y: -50 });
        gsap.from(".img-fluid", {
            opacity: 0,
            duration: 1.5,
            scale: 0.8,
            delay: 0.5,
            scrollTrigger: {
                trigger: ".img-fluid",
                start: "top 40%",
                end: "bottom 30%",
               
            }
        });
        gsap.from("h2, p", { opacity: 0, duration: 1.5, y: 30, delay: 1, });
    </script>
</body>
</html>